@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bitter:ital,wght@1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200&display=swap');

body {
  background-color: #B0C693;
}
.container {
  width:80%
  margin:0 auto;
}
header {
  background: #C69393;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  font-size: 50px;
}
h1 {
  font-family: 'Bitter', serif;
  color: #C69393;
  text-align: center;
  font-size: 100px
}
h2 {
  color: #AD8495;
  text-align: center;
}
h3 {
  font-family: 'Bitter', serif;
  color:#4C675D;
  font-size: 30px
}
hr {
       position: relative;
       top: 0px;
       border: none;
       height: 5px;
       background: #84AD87;
       margin-bottom: 25px;
   }
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #2D3A2E;
}
