@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bitter:ital,wght@1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200&display=swap');

body {
  background-color: #EFBF9A;
}
.container {
  width:80%
  margin:0 auto;
}
header {
  background: #A0816B;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  position: relative;
  margin-left: 70px;
  padding-top: 15px;
  font-size: 20px;
}
nav {
  text-align: center;
}
nav a {
  float: left;
  text-align: center;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}
h1 {
  font-family: 'Bitter', serif;
  color: #864717;
  text-align: center;
  font-size: 100px
}
h2 {
  color: #8A532B;
  text-align: center;
  font-size: 35px
}
h3 {
  font-family: 'Bitter', serif;
  color:#1F2A28;
  font-size: 35px
}
hr {
       position: relative;
       top: 0px;
       border: none;
       height: 5px;
       background: #8A532B;
       margin-bottom: 25px;
   }
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #8A532B;
}
